# Pandas Tutorial - Part 2

Welcome to the second part of your pandas tutorial. 

In this tutorial you get to know:

- Dataframes and series
- Basic pandas functions for dataframes and series
- How to store datatypes (int, float, string, etc) in pandas

- Using the loc fundtion to display, filter, edit segments of a dataframe
- How to deal with nan-values

- Group by - functions and index slicing
- Plotting and using magic commands in pandas

- And more

Since this is a jupyter notebook, you can edit and execute code directly in the notebook. If you need an intro to jupyter notebooks, have a look at this <a href="https://www.youtube.com/watch?v=HW29067qVWk">video</a>.

In [1]:
# Libraries we need
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

The `pandas` and `numpy` libraries are core tools for all kinds of data handling and analysis in Python. `pandas` allows easy and quick handling of data in so-called DataFrames ([pandas tutorials](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/index.html)). `matplotlib` is used for plotting.

## Series - Basic functions

A **series** is a one-dimansional array that can hold different types of data such as integers, float, strings, or objects. Every entry in the series has an index (label).

The following is a simple example of a series.

In [2]:
S = pd.Series([6, 8, 42, 26000])
S

0        6
1        8
2       42
3    26000
dtype: int64

*Tasks*
1. Enter a float and a string value in the series and see what happens to the dtype property.
2. Try accessing the index using `S.index` (S being the name of the series in this case) as a command. With `S.values`, you can see the entries in the series in list format.

But the index does not have to be numerical. You can also use strings as indices, as shown in the example below.

In [ ]:
mode = ['bicycle', 'tram', 'train', 'car']
quantities = [320, 13, 59, 176]
S = pd.Series(quantities, index=mode)
print(S)

**Tasks**
1. Try accessing a specific index using `S['tram']` for example.
2. Create another series with the same modes in series S but different quantities. Then observe what happens when you add these two series simply using `S + S2` for example.  
3. To the new series S2, add new modes such as 'boat' and then add `S + S2` and observe what happens.

You do not have to use lists to create a series. You can also pass a dictionary as input as shown below.

In [ ]:
transport = {'bicycle': 320,
             'tram' : 13,
             'train': 59,
             'car': 176}
transport_series = pd.Series(transport)
transport_series

### Apply function
You can use apply to perform basic math operations on your series. To find out more about the parameters which you can pass to the apply function check out the <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.apply.html">pandas documentation page</a>. This is a very useful page to use for pandas as it also shows you all the other fucntions available for series inclusing all parameters which you pass to the fucntion.

In [3]:
S.apply(np.log)

0     1.791759
1     2.079442
2     3.737670
3    10.165852
dtype: float64

Here you can observe a key difference between stating `S.apply(np.log)` and `S = S.apply(np.log)`. In the first case you see the output of the function but it is not stored. The second suppresses the output but stores it in the variable. You then need to state `print(S)` or simply `S` to see the output. *Try this in the cell below.*

## Dataframes - Basic functions

In contrast to series, dataframes have **two dimensions** and therefore look like tables as you would use them in Excel. This makes pandas a very powerful python library as you can perform complex operations on large amounts of data fairly quick. Each column can be interpreted as a series and you can perform similar functions to a column as to series. Each column can have it's own data type (integer, float, string, object).

### Creating a dataframe / Loading data

You have several options to create dataframes. These include:

- From several lists
- From series
- From dictionaries
- From a csv file

### Dataframe from lists
In the example below, a dataframe is created using lists. The lists contain Eurostat data with the rail kilometers in Dutch provinces per year. The <a href="https://ec.europa.eu/eurostat/databrowser/view/tgs00113/default/table?lang=en">source</a> here is the same as for the data used below.

In [4]:
Regions = ['Utrecht','Noord_Holland','Zuid_Holland','Zeeland']
Years = [2016, 2017, 2018, 2019]

Rail_2016 = [194, 365, 456, 97]
Rail_2017 = [194, 365, 454, 97]
Rail_2018 = [196, 366, 486, 127]
Rail_2019 = [200, 344, 446, 103]

Rail_NL = pd.DataFrame(list(zip(Rail_2016,Rail_2017,Rail_2018,Rail_2019)))
Rail_NL

     0    1    2    3
0  194  194  196  200
1  365  365  366  344
2  456  454  486  446
3   97   97  127  103

However, this dataframe is not very informative as it does not have column headers or indices. 

**Task:** Using the two lists `Regions` and `Years`, assign **years as column headers and regions as indices**. You can do this while creating the dataframe by adding  `columns = ...` & `index = ...` or by setting the columns/index afterwards using `Rail_NL.columns = ...`

##### Selecting data using loc 

You can select data by simply typing `Rail_NL[2016]`. However, this is a rather limited method to select data as you can only access whole columns. The most versatile method to select data is the `loc` as exemplified below. For more detailled information about `loc`, have a look <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html">here</a>.

*The commands below only work once you have completed the previous step.*

In [7]:
Rail_NL.loc['Utrecht']

KeyError: 'Utrecht'

In [ ]:
Rail_NL.loc['Utrecht',2016]

In [ ]:
Rail_NL.loc[Rail_NL[2016]<200]

In [ ]:
Rail_NL.loc[(Rail_NL[2016]<200)&(Rail_NL[2019]>=150)]

Since selecting data is a core element of using pandas, there are many more ways to select and filter data for eample using `iloc`, `Index.Slice` (ofen abbreviated using `idx`), filtering and many more. The topic is complex and depends on your specific case. For some inspiration have a look at <a href="https://www.kdnuggets.com/2019/06/select-rows-columns-pandas.html">this tutorial</a>.

### Dataframe from series

Now we want to create a dataframe from series, where each row represents a region.

In [5]:
Utrecht = pd.Series([194, 194 , 196, 200],index=Years)
Noord_Holland = pd.Series([365, 365, 366, 344],index=Years)
Zuid_Holland = pd.Series([456, 454, 486, 446],index=Years)
Zeeland = pd.Series([97, 97, 127, 103],index=Years)

Rail_NL_series = pd.concat([Utrecht,Noord_Holland,Zuid_Holland,Zeeland])
Rail_NL_series

2016    194
2017    194
2018    196
2019    200
2016    365
2017    365
2018    366
2019    344
2016    456
2017    454
2018    486
2019    446
2016     97
2017     97
2018    127
2019    103
dtype: int64

This is not what we aimed for. When concantenating data, the default is that all data is attached below using `axis = 0` which points downwards. 

**Task:** Since we want to concantenate rows, set `axis = 1` in the example above. This will add each series as one column. 

Instead of renaming the columns as mentioned above, you can also give the series a name before concantenating by adding the property `name='Utrecht'`. This is more safe as you are sure the correct header is assigned to each series.

##### Transposing dataframe

Be aware though! Contrary to the above, the data now display the region in the columns and the year in the row. You can simply change the orientation of the dataframe using the command `Rail_NL = Rail_NL.T` or by adding `.T` to the concantenation command.

### Dataframe from dictionaries

An option that is very similar to creating a dataframe from series is to create a dataframe from a dictionary. Have a look at what is similar and what is different in the example below.

**Task:** Fill the `...` correctly to create the dataframe.

In [6]:
rail_km = {'Utrecht': [194, 194 , 196, 200],
         'Noord_Holland': [365, 365, 366, 344],
         'Zuid_Holland': [456, 454, 486, 446],
         'Zeeland': [97, 97, 127, 103]
        }

Rail_NL_dict = pd.DataFrame(rail_km, index=Years)
Rail_NL_dict

      Utrecht  Noord_Holland  Zuid_Holland  Zeeland
2016      194            365           456       97
2017      194            365           454       97
2018      196            366           486      127
2019      200            344           446      103

Here a benefit is that the columns already have names and you just need to pass the index.

### Dataframe from CSVs
Alternatively, you can also load data in bulk using a CSV file. In the example below, we load all data on rail kilometers for the Netherlands from 2008 to 2019.

In [ ]:
rail_NL_csv_original = pd.read_csv('estat_NL_rail_km.csv') 
rail_NL_csv_original

In the dataframe we created, regions are not entered with their name but with their <a href="https://de.wikipedia.org/wiki/NUTS:NL">NUTS code</a>. These have two digits with the first representing the 'landsdeel' (part of the country) and the second the province. Below, we will rename these NUTS codes to the province names but before, we want to story the information of which 'landsdeel' each province belongs to. 

For this we will copy the geo column and then remove the last digit. For this we will use a **list comprehension**. List comprehensions are much faster than looping though all rows of a dataframe, espeically if the dataframe is large. 

`[:-1]` detailes which characters will be removed. If you would for instance write `[2:-1]`, the NL would also be removed. You can also do this. The number that remains, however, will still be of type string. For our case this is not an issue, though.

In [ ]:
rail_NL_csv_original['landsdeel'] = rail_NL_csv_original['geo']
rail_NL_csv_original['landsdeel'] = [i[:-1] for i in rail_NL_csv_original['landsdeel']]
rail_NL_csv_original

To improve readability, we will first use the dictionary below to rename the cells in `geo` column above.

**Task:** Try to rename the NUTS codes in the above dataframe with the following command.

`rail_NL_csv_original = rail_NL_csv_original.replace({"geo": NUTS})`

In [ ]:
NUTS_NL_reg = {'NL11': 'Groningen',
        'NL12': 'Friesland',
        'NL13': 'Drenthe',
        'NL21': 'Overijssel',
        'NL22': 'Gelderland',
        'NL23': 'Flevoland',
        'NL31': 'Utrecht',
        'NL32': 'Noord-Holland',
        'NL33': 'Zuid-Holland',
        'NL34': 'Zeeland',
        'NL41': 'Noord-Brabant',
        'NL42': 'Limburg'}
rail_NL_csv_original

**Task:** Now <a href="https://de.wikipedia.org/wiki/NUTS:NL">look up</a> the names for each landsdeel, create another dictionary translating the NUTS code to each landsdeel and write the code to rename the entries in column `landsdeel` in the cell below.

##### Pivot Function
But we still have data that we do not need and we would like to see the years as the column names and regaions as row indices. We could now use the `.drop` function to drop the columns which we do not need. But this would not solve the problem with our column names. For this we need to **pivot** our data.

**Task:** In the code below enter the correct column headers of `rail_NL_csv_orignal` to pivot the data.

In [ ]:
rail_NL_csv = pd.pivot_table(rail_NL_csv_original, values = '...' , index = ['landsdeel', 'geo'], columns = '...')
rail_NL_csv

##### Multi-index and index slicer
By entering two columns as the index in the pivot operation, we have created a two-level multi-index. <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html">Multi-indexes</a> are very useful to structure data and access specific entries, especially in large dataframes. To select data we will use <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.IndexSlice.html">index slicing</a> which was already mentioned above.

To shorten the code, we first declare `idx`. Within idx, you specify each level of the multi-index that you want to display seperated by a comma. To display all entries in a level simply enter `:`.

You may need to adjust the `WEST-NEDERLAND` according to the  spelling you used in your dictionary.

In [ ]:
idx = pd.IndexSlice

rail_NL_csv.loc[idx['WEST-NEDERLAND', :], 2017]

As shown below you can also acces multiple entries within one level at once. Also `loc` allows you to specify multiple columns using `:` if they are of a numerical type.

In [ ]:
rail_NL_csv.loc[idx['WEST-NEDERLAND', ['Utrecht','Zeeland']], 2016:2019]

**Task:** Now write an and index slicer where you select all rows from NOORD-NEDERLAND (NL1) and OOST-NEDERLAND (NL2) from 2008 to 2012.

## Group by

One way to analyze our data is aggregation. In Pandas this works though grouping the data and then performing functions on it. 

Grouping in pandas is less intutive as the object that is greated during grouping is not directly visualizible. You first need to translate it back into a readable format for example by performing  function on it and saving the output to a new or an exiting dataframe.

Have a look at the example below:

In [ ]:
NL_rail = rail_NL_csv.groupby(['landsdeel']).agg(['mean',sum,'count'])
NL_rail

**Task:** You can now use your indexing skills acquired above to set the `sum` and `mean` entries to integer. The command for this conversion is `.astype(int)`.

To **improve the reability** of the table it is helpful to transpose the dataframe (as you learned earlier) using `.T`. Another way is using the `.stack` function, as displayed below. Save this version of the dataframe as you will use it later in the section on plotting.

In [ ]:
NL_stacked = NL_rail.stack(0)
NL_stacked

**Task:** Now try to find the mean and standard deviation (command `std`) for the four landsdeel entries across all years. You will also have to practice your indexing skills for this task.

If you wish to go beyong the content in this tutorial have a look <a href="https://towardsdatascience.com/pandas-groupby-a-simple-but-detailed-tutorial-314b8f37005d">here</a> for a more indepth tutorial of grouping in pandas.

One way to practice your skills would be to download another dataset from the <a href="https://ec.europa.eu/eurostat/databrowser/view/tgs00113/default/table?lang=en">source</a> to compare and group the data on country level.

## Plotting & magic commands

To plot our data we will use a magic command from python. These are very useful commands that shorted the code you need to write and allow you to use additional functionality like identifying the currect directoriy you work in using `%pwd`. If you enter `%lsmagic` you can see all magic commands jupyter notebook uses. Magic commands with a single `%` are line magic that have an effect for remainder of the notebook, wherears magic commands iwht a double `%%` only count for that cell.

For more on magic commands, have a look at this <a href="https://www.youtube.com/watch?v=HW29067qVWk">video</a> from minute 16 onwards.

### Initializing matplotlib
We already imported the matplotlib python library above. To enable us to display plots directly in a jupyther notebook, it is necessary to execute the following magic command.

In [ ]:
%matplotlib inline

rail_NL_csv.plot()

The current set-up of the graph is not very useful as the years are displayed as lines, there are no captions for the y-axis and it is not clear what is displayed on the x-axis.

We can transpose the data (`.T`) to disply the years on the x-axis.

Generally, you should first save the plot to a variable, then customize the axis, legend etc. and then use the command `plt.show()` to display the plot. The second line in the code below pushes the legend outside the plot. You can play around with the parameters to learn more about it.

In [ ]:
ax = rail_NL_csv.T.plot()
plt.legend(title='Region',loc='center left', bbox_to_anchor=(1, 0.5))
plt.show()

This graph is not very informative or readable. We can use an index slicers to plot a selection of the data. Matplotlib also supports different chart types like barcharts, scatterplots, histograms, or boxplots.

**Tasks:** 

- Add `kind='bar',stacked=True` inside the plot to see a bar plot. By adding `kind='barh` instead, the bar chart becomes horizontal. Also move the legend outside the plot and rename is usefully.

- Also try adding `plt.ylabel = ...` in a new line to label the y axis.

In [ ]:
rail_NL_csv.loc[idx['NL3',:], :].T.plot()

Another useful chart type is a boxblot, which you can see below.

In [ ]:
rail_NL_csv.boxplot()

#### Displaying grouped data
Now, the groups which we created earlier come in useful. We can separate the outputs we generated in seperate plots.

**Task:** Select only ofe of the four regions, add useful labels, move the legend out of the plots to make the plots readable and useful. It would also be an option to display the data as a bar chart.

In [ ]:
NL_stacked.plot(subplots=True, figsize=(6, 6))

For more info about visualization with matplotlib have a look <a href="https://pandas.pydata.org/pandas-docs/version/0.13/visualization.html">here</a>.

This tutorial was created by Luja von Köckritz in June 2021.